@media ( min-width: 768px ) and ( max-width: 1199px )
  html
    font-size: 12px
  .container
    width: 85%
  .header
    &__contacts-wrapper
      &:before
        top: -5px 
  .hero
    &__title
      width: 45rem
      font-size: 2.7rem
    &__subtitle
      font-size: 1.7rem
    &__input
      width: 17rem
      padding: 1.2rem
      border: none
      border-radius: 35px
    &__form
      &-wrapper
        width: 54rem
  .button
    padding: 18px 40px
  .services
    &__text
      margin-top: 0
      margin-bottom: 0
    &__title
      font-size: 20px
    &__description
      font-size: 15px
  .section
    &__title 
      font-size: 2rem
      &:after
        width: 20rem
        margin-top: 1rem
  .operation
    &__title
      font-size: 1.5rem

@media ( min-width: 320px ) and ( max-width: 767px )
  html
    font-size: 10px
  .container
    width: 80%
  .section
    padding: 30px 0
    &__title 
      font-size: 2rem
      margin-bottom: 2rem
      &:after
        width: 15rem
        margin-top: 0.8rem
  .services
    &__title
      font-size: 18px
    &__description
      font-size: 15px
  .header
    &__contacts-wrapper
      display: none
    &__scroll
      display: none
  .hero
    &__title
      width: 100%
      font-size: 2.7rem
    &__subtitle
      font-size: 1.7rem
    &__input
      width: 100%
      padding: 1.2rem
      border: none
      border-radius: 35px
      &-group
        margin-bottom: 3.5rem
      &-group:last-of-type
        margin-bottom: 0
    &__form
      &-wrapper
        display: flex
        flex-direction: column
        width: 100%
    &__subtitle
      display: none
  .button
    padding: 14px 40px
  .row
    flex-direction: column
  .col
    &-100
      width: 100%
    &-45
      &--order
        order: 0
  .services
    &__wrapper
      align-items: center
      text-align: center
      flex-direction: column
      margin-bottom: 4rem
  .advantages
    &__list
      flex-direction: column
    &__item
      width: 100%
      &:last-of-type
        margin-bottom: 0
    &__description
      width: 50%
      margin: auto
      margin-top: 20px
  .operation
    &__item
      display: flex
    &__wrapper
      display: flex
      flex-direction: column
      margin-bottom: 2rem
      &:last-of-type
        margin-bottom: 0
    &__title
      font-size: 1.8rem
      margin-bottom: 0
    &__text
      text-align: center
      position: relative
    &--order
      order: 1
